* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    margin-bottom:15px;
}
header {
    width:100%;
    height:60px;
    background-color: aqua;
    position:fixed;
    left:0px;
    z-index: 2;
}
.banner {
    width:100%;
    height:500px;
background-color: rgb(45, 238, 126);
padding:50px;
}
.contacts {
    width:80%;
    height:200px;
    background-color: coral;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
    
}
.diet {
    width:100%;
    height:500px;
    background-color: rgb(31, 113, 196);
    overflow: hidden;
}
.diet .image {
    width:50%;
    height:300px;
    display:inline-block;
    background-color:forestgreen;
}

.diet .text {
    width:50%;
    height:300px;
    display:inline-block;
    background-color:rgb(223, 59, 18);
}
.favfood {
    width:100%;
    height:500px;
    background-color: chocolate;
}
 
.favfood .list {
    width:80%;
    height:300px;
    background-color: teal;
}
.favfood .list .item {
width:33%;
height:250px;
background-color: cyan;
float:left;

}

.favfood .list .item:first-child {
    position:sticky;
    top:0;
    left:0;
    background-color: #000;
    
}
.pop_items {
    width:100%;
    height:500px;
    background-color: yellow;
}
.popular_items .list {
    width:80%;
    height:450px;
    background-color: rgb(0, 0, 0);
}
.popular_items .list  .item{
    width:33%;
    height:200px;
    background-color: rgb(13, 173, 13);
    margin-right:3px;

}
.download {
    width:100%;
    height:500px;
    background-color: brown;
}
.black {
    width:80%;
    height:400px;
    background-color: #000;
}
.clients {
    width:100%;
    height:450px;
    background-color: violet;
    overflow: hidden;
}
.subscribe {
    width:100%;
    height:500px;
    background-color:tomato;
}

footer {
    width:100%;
    height:160px;
    background-color: rgb(160, 114, 72);
}