* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #18191C;
    font-family: Arial, Helvetica, sans-serif;
    
}

table {
    margin:100px;
    color:#fff;
    border-color: grey;
    text-align: center;
}
thead {
    border-top: 7px solid #FF8630;
}
table, th, td {
    border:1px solid #FF8630;;
    border-collapse: collapse;
}
td, th, tr {
    padding:10px 30px;
    
}
tfoot {
    font-weight:600;
    text-align:left;
}
.table2 tbody tr:nth-child(odd) td{
    background-color: #663613;
    
}