* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 222, 255);
}
.container {
    width:100%;
    display:flex;
    justify-content: center;
    height:600px;
    align-items:center;
    
}

.card {
    
    width:285px;
    border: 3px solid #000;
    margin-left:20px;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    align-items:center;
    /*background-image: url('images/card1.png');
    background-repeat: no-repeat;
    */
    justify-content: space-evenly;
}
/*.card:last-child {
    margin-right:0;
}*/
.image {
    width:285px;
    display:block;
    float:center;
    background-color: #FFCF2D;
    
}
.head {
    border:3px solid #000;
    align-items: flex-start;
    width:375px;
    
}
.heading_card {
color: #424551;
font-weight: 700;
font-size: 20px;
line-height: 150%;
text-align:center;
}
.title {
    font-weight: 900;
font-size: 46px;
line-height: 130%;
text-align: left;
color: #1E212C;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.subtitle {
    font-weight: 400;
font-size: 16px;
line-height: 160%;
text-align: center;
color: #787A80;
}
.heading {
    font-weight: 700;
font-size: 16px;
line-height: 150%;
text-align: left;
letter-spacing: 1px;
text-transform: uppercase;
color: #1E212C;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}