* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    display: block;
    width:100px;
    height:30px;
    text-decoration: none;
    background-color:rgb(59, 195, 236);
border-radius:15px;
border:2px solid #000;
margin:50px;
text-align:center;
color:#000;
animation-name:reti;
animation-duration: 5s;

}
a:hover {
    background-color: blueviolet;
    color:#fff;
    border:#fff;

    /*.element {
        transition: [transition-property] [transition-duration] [transition-timing-function] [-o-transition-delay]
    }*/
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: easy-in-out;
    transform:rotate(20deg) scale(2, 2);
    

}



.parent {
    margin-top:5%;
    margin-left:25%;
    height:500px;
    width:1000px;
    background-color:rgb(128, 146, 248); 
    
}
.cloud{
    width:300px;
    animation-name: sky;
    -webkit-animation: 10s infinite running sky;
    position:absolute;
    
    
}
.sun {
    width:200px;
    float:right;
    padding:20px;
    -webkit-animation: 1s infinite running sun;
    animation-timing-function: steps(8);
     
}
.grass {
    width:1000px;
    
}
.potter {
    width:300px;
    margin-top:200px;
    margin-left:500px;
    animation-name: potter;
    -webkit-animation:10s infinite running potter;
   
}
@keyframes sky {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(530px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(530px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes sun {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
   
  }
  @keyframes potter {
    0% {
        transform: translateX(0);
        transform: translateY(0);
    }
    
   
    25% {
        transform: translateX(-300px);
        
    }
  

    50% {
        
        transform: translateY(200px);
    }

    75% {
        transform:translateY(-50px);

    }
    100% {
        transform:translateX(-300px);
    }
    }