* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width:100%;
    padding:30px 375px;
    display:flex;
    align-items: center;
}
.header_logo {
    display:block;
    height:45px;
    width:162px;
    margin-right:162px;
}
.header_nav {
    width:413px;
    margin-right:30px;
}
.nav_list {
    display:flex;
    justify-content: space-between;
    list-style:none;
}
.nav_link {
    text-decoration: none;
    color:#000;
    font-weight:500;
}
.header_button {
    background: #F16214;
border: 1.5px solid #F16214;
box-sizing: border-box;
border-radius: 120px;
color:#fff;
padding:5px 15px;
}

.nav_link:hover {
color:#F16214;
transition:all 0.5s linear;
}